.foot {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.start-project {
    width: 100vw;
    height: 200px;
    background-color: rgb(18, 28, 58);
    color: var(--green);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}
.foot-contact {
    background-color: black;
    z-index: 10;
    width: 100vw;
    text-align: center;
    padding: 5%;
}
.foot-logo {
    width: 90px;
    height: auto;
}
.foot-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}
.foot-icons img {
    width: 90px;
    height: 90px;
    padding: 25%;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.8);
}