* {
    scroll-behavior: smooth;
}
nav {
    background-color: transparent;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav li {
    height: 50px;   
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);  
}
nav a:hover {
    background-color: #f0f0f0;
    color: black;
}
nav li:first-child {
    margin-right: auto;
}