.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
    margin-bottom: 20vh;
}
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px; 
    background-color: var(--space-blue);
    min-height: 50vh;
    max-width: 70vh;
    margin: 1%;
    padding: 1%;
     
}
.project-card img {
    padding:0.5vw ;
    max-width: 100%;
    height: auto ;
}