.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2px;
    place-items: center
    
}
 
.skills-card {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50%;
    text-align: center;
    font-size: 1vw;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
